@media(min-width:320px) and (max-width:767px){
    .ph_img{
        display: none;
    }
    .logo_price{
        margin-right: 250px;
    }
}
@media(min-width:576px) and (max-width:1199px){
    .logo_price{
        margin-right: 200px;
    }
}
@media(min-width:320px) and (max-width:415px){
    .app_store img{
        width: 40%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .app_store img{
        width: 45%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .feature_price1{
        left: 3%;
    }
    .feature_price2{
        left: 3%;
        top: 18%;
    }
}
@media(min-width:320px) and (max-width:400px){
    .position_texr h3{
        font-size: 18px;
    }
    .position_texr{
        top: 10%;
        left: 20%;
    }
}
@media(min-width:401px) and (max-width:500px){
    .position_texr h3{
        font-size: 18px;
    }
    .position_texr{
        top: 10%;
        left: 30%;
    }
}
@media(min-width:501px) and (max-width:575px){
    .position_texr h3{
        font-size: 18px;
    }
    .position_texr{
        top: 10%;
        left: 33%;
    }
}
@media(min-width:576px) and (max-width:1400px){
    .position_texr h3{
        font-size: 18px;
    }
    .position_texr{
        top: 10%;
    }
}
@media(min-width:402px) and (max-width:422px){
    .feature_price2{
        left: 3%;
        top: 18%;
    }
    .feature_price1{
        left: 3%;
    }
    .feature_logo{
        margin-right: 500px;
    }
}
@media(min-width:422px) and (max-width:450px){
    .feature_price2{
        left: 6%;
        top: 18%;
    }
    .feature_price1{
        left: 6%;
    }
}
@media(min-width:450px) and (max-width:490px){
    .feature_price1{
        left: 9%;
    }
}
@media(min-width:491px) and (max-width:575px){
    .feature_price1{
        left: 17%;
    }
}
@media(min-width:406px) and (max-width:575px){
    .item_price{
        left: 15%;
    }
}