@media(min-width:320px) and (max-width:415px){
    .app_store img{
        width: 40%;
    }
}
@media(min-width:320px) and (max-width:767px){
    .ph_img{
        display: none;
    }
}
@media(min-width:320px) and (max-width:575px){
    .banner_content h1 {
        font-size: 35px;
    }
    form input::placeholder{
       font-size: 13px;
    }
    .popular_item a {
        width: 50%;
    }
    .feature_price2{
        left: 50%;
        top: 1%;
    }
    .feature_price1{
        left: 3%;
    }
}
@media(min-width:320px) and (max-width:1199px){
    .search_icon{
        top: 30%;
    }
}

@media(min-width:768px) and (max-width:991px){
    .app_store img{
        width: 45%;
    }
    .banner img {
        margin-top: 114px;
    }
    .best h2{
        margin-top: 50px;
    }
    
}
@media(min-width:992px) and (max-width:1199px){
    .feature_price1{
        left: 3%;
    }
    .feature_price2{
        left: 3%;
        top: 18%;
    }
}
@media(min-width:320px) and (max-width:400px){
    .position_texr h3{
        font-size: 18px;
    }
    .position_texr{
        top: 10%;
        left: 20%;
    }
}
@media(min-width:401px) and (max-width:500px){
    .position_texr h3{
        font-size: 18px;
    }
    .position_texr{
        top: 10%;
        left: 30%;
    }
    .login_icon{
        right: 18%;
    }
}
@media(min-width:501px) and (max-width:575px){
    .position_texr h3{
        font-size: 18px;
    }
    .position_texr{
        top: 10%;
        left: 33%;
    }
}
@media(min-width:576px) and (max-width:1400px){
    .position_texr h3{
        font-size: 18px;
    }
    .position_texr{
        top: 10%;
    }
}
@media(min-width:576px) and (max-width:991px){
    .feature_price2{
        left: 3%;
        top: 18%;
    }
    .feature_price1{
        left: 3%;
    }
}
@media(min-width:1200px) and (max-width:1400px){
    .feature_price2{
        left: 50%;
        top: 1%;
    }
    .feature_price1{
        left: 2%;
    }
}
@media(min-width:401px) and (max-width:450px){
    .login_icon{
        right: 18%;
    }
}
@media(min-width:451px) and (max-width:500px){
    .login_icon{
        right: 15%;
    }
}
@media(min-width:501px) and (max-width:767px){
    .login_icon{
        right: 15%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .login_icon{
        right: 10%;
    }
}



